html {
  font-family: Helvetica;
  text-align: center;

}

body {
  width: 100%;
  text-align: center;
}

header {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-bottom: 50px !important;
}

footer {
  background-color: dimgray;
  font-size: 11px !important;
  text-align: left;
  color: white;
  align-items: left;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px black;

}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3 {
font-size: 32px;
font-weight: bold;

}

p {
  font-size: 14px;
}

ul, li {
  text-align: center;
  list-style: none;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  display: inline;


}

a {
  color: white;
  padding-bottom: 10px;
}

.P1 {
  background-color: white;

}

#navfoot {
  list-style: none;
  margin: 0;
  display: inline;
}

#NYC {
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: auto;
  padding: 10px;
  text-shadow: 2px 2px black;
}

#copy {
  font-size: 11px !important;
  text-align: left !important;
  color: white !important;

}
